@import '../../variables';

.advert {
    position: relative;
    width: 300px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.08);
    overflow: hidden;
    cursor: pointer;
    transition: background-color .2s ease-in-out;

    &.embedded {
        box-shadow: none;
        border: 1px solid $blueGray--light;
        margin-left: 0;

        &:last-of-type {
            margin-right: 30px;
        }
    }

    &:hover {
        background-color: #f5f5f5;
    }

    &__photo {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: -3px;
    }

    &__nameContainer {
        display: flex;
        flex-flow: column;
        min-height: 1rem;
        padding: 10px 15px;
        border-bottom: 1px solid $blueGray--light;
    }

    &__brand {
        font-size: 17px;
        font-weight: 600;
    }

    &__productName {
        font-size: 14px;

        // Cutting text when it will not fit line
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__priceContainer {
        display: flex;
        flex-flow: row wrap;
        padding: 0 15px 10px;
        border-top: 1px solid $blueGray--light;

        > * {
            display: inline-flex;
            flex: 1 0 50%;
            justify-content: center;
            flex-direction: column;
            margin: 5px 0;
        }
    }

    &__bestPrice {
        .value {
            font-size: 20px;
            font-weight: 600;
        }
    }

    &__avgPrice,
    &__newPrice {
        align-items: flex-end;
    }

    &__currency {
        font-size: 10px;
    }

    &__priceLabel {
        font-size: 10px;
    }
}
