<div class="advert" [ngClass]="{'embedded': embedded}" (click)="openProduct()">
    <div class="advert__nameContainer" *ngIf="!embedded">
        <span class="advert__brand">{{advert.productBrand}} {{advert.productCode}}</span>
        <span class="advert__productName">{{advert.productName}}</span>
    </div>

    <img class="advert__photo" src="{{photoUrl}}" onerror="this.src='assets/img/fallback-image.jpg'" />

    <div class="advert__priceContainer">
        <span class="advert__bestPrice">
            <span class="advert__priceValue value">
                {{ advert.price | number:'1.0-0':'hu' }}

                <span class="advert__currency">HUF</span>
            </span>
        </span>

        <span class="advert__avgPrice">
            <div class="advert__priceLabel label">avg used</div>

            <div class="advert__priceValue value">
                {{ advert.avrUsedPrice | number:'1.0-0':'hu' }}

                <span class="advert__currency">HUF</span>
            </div>
        </span>

        <span class="advert__reason">
            {{advert.reason}}
        </span>

        <span class="advert__newPrice">
            <div class="advert__priceLabel label">best new</div>

            <div class="advert__priceValue value" *ngIf="advert.bestNewPrice; else discontinued">
                {{ advert.bestNewPrice | number:'1.0-0':'hu' }}

                <span class="advert__currency">HUF</span>
            </div>

            <ng-template #discontinued>
                <div class="advert__priceValue value">discontinued</div>
            </ng-template>
        </span>
    </div>
</div>
