@import '../../variables';

.productStat {
    $breakpoint--default: 1100px;
    $breakpoint--medium: 950px;
    $breakpoint--small: 570px;

    position: relative;
    display: flex;
    flex-direction: column;
    padding: $pageTopPadding 10%;

    @media screen and (max-width: $breakpoint--default) {
        padding: $pageTopPadding 5% 50px;
    }

    @media screen and (max-width: $breakpoint--header) {
        padding: $pageTopPadding--big 0 40px;
    }

    @media screen and (max-width: $breakpoint--small) {
        padding: $pageTopPadding--big 0 0;
    }

    &__homeLink {
        max-width: 200px;
        font-size: 14px;

        &:before {
            margin-right: 5px;
            content: '\2190'
        }
    }

    &__productCard {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
        max-width: 1500px;
        background-color: white;
        border-radius: 25px;
        overflow: hidden;
        padding: 15px 25px 25px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.08);
        margin-top: 20px;

        @media screen and (max-width: $breakpoint--medium) {
            padding: 15px 20px 25px;
        }

        @media screen and (max-width: $breakpoint--header) {
            margin-top: 0;
        }

        @media screen and (max-width: $breakpoint--small) {
            border-radius: 0;
        }
    }

    &__productInfo {
        display: flex;
        flex-flow: row nowrap;
        margin: 15px 0 20px;

        @media screen and (max-width: $breakpoint--medium) {
            flex-flow: column;
            justify-content: center;
        }
    }

    &__productPhoto {
        position: relative;
        width: 400px;
        height: 400px;
        border: 1px solid $blueGray--light;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        flex: 0 1 400px;

        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }

        @media screen and (max-width: $breakpoint--medium) {
            align-self: center;
            width: 80%;
            height: 300px;
            flex: 0 1 300px;
        }
    }

    &__productNameAndChart {
        min-width: 400px;
        flex: 1 1 auto;
        margin-left: 30px;

        @media screen and (max-width: $breakpoint--medium) {
            min-width: initial;
            justify-content: center;
            margin-left: 0;
        }
    }

    &__productName {
        display: flex;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        width: 100%;

        @media screen and (max-width: $breakpoint--medium) {
            justify-content: center;
            margin: 15px auto 10px;
            font-size: 22px;
            text-align: center;
        }
    }

    &__productLink {
        display: flex;
        width: 200px;
        height: 34px;
        background-color: $app--primary;
        color: white;
        padding: 0 10px;
        transition: opacity .2s ease;
        margin-bottom: 25px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        border-radius: 17px;

        &:hover {
            opacity: .85;
        }

        &:active {
            opacity: .95;
        }

        @media screen and (max-width: $breakpoint--medium) {
            margin: 15px auto 25px;
        }
    }

    &__productChart {
        width: 100%;
        align-self: center;
        overflow-x: auto;
    }

    &__section {
        position: relative;
        display: flex;
        margin: 10px 0;
        flex-direction: column;

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
            width: 30px;
            content: ' ';
        }
    }

    &__sectionTitle {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__sectionContent {
        display: flex;
        flex-flow: row nowrap;
        max-width: 100%;
        overflow-x: auto;
        padding-right: 30px;
    }

    &__emptyState {
        opacity: 0.8;
    }

    &__error {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 15px 0;
    }

    &__errorMessage {
        max-width: 350px;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
        line-height: 22px;
    }
}
