<div class="productStat">
    <div class="productStat__productCard" *ngIf="productStat && !loading; else error">
        <a routerLink="/tophits" class="productStat__homeLink">back to best adverts</a>

        <div class="productStat__productInfo">
            <span class="productStat__productPhoto">
                <img src="{{photoUrl}}" onerror="this.src='assets/img/fallback-image.jpg'" />
            </span>

            <span class="productStat__productNameAndChart">
                <div class="productStat__productName">
                    {{productStat.product.brand}} {{productStat.product.code}} {{productStat.product.name}}
                </div>

                <a class="productStat__productLink" href="{{productStat.product.link}}" target="_blank">
                    Open product website
                </a>

                <div class="productStat__productChart" id="chart-container" #chartContainer></div>
            </span>
        </div>



        <div class="productStat__section">
            <span class="productStat__sectionTitle">Top used adverts</span>

            <div
                class="productStat__sectionContent"
                *ngIf="productStat.usedAdverts && productStat.usedAdverts.length > 0; else usedEmptyState"
            >
                <app-product-advert
                    [advert]="advert"
                    [embedded]="true"
                    *ngFor="let advert of productStat.usedAdverts"
                ></app-product-advert>
            </div>

            <ng-template #usedEmptyState>
                <div class="productStat__emptyState">
                    There are no available adverts of this product listed as used.
                </div>
            </ng-template>
        </div>

      <div class="productStat__section">
        <span class="productStat__sectionTitle">Top new adverts</span>

        <div
          class="productStat__sectionContent"
          *ngIf="productStat.newAdverts && productStat.newAdverts.length > 0; else newEmptyState"
        >
          <app-product-advert
            [advert]="advert"
            [embedded]="true"
            *ngFor="let advert of productStat.newAdverts"
          ></app-product-advert>
        </div>

        <ng-template #newEmptyState>
          <div class="productStat__emptyState">
            There are no available adverts of this product listed as new.
          </div>
        </ng-template>
      </div>
    </div>

    <ng-template #error>
        <div class="productStat__error" *ngIf="!loading">
            <span class="productStat__errorMessage">
                This product can't be displayed right now.<br />Please try again later.
            </span>

            <a class="productStat__homeLink" routerLink="/">
                Go back to best adverts
            </a>
        </div>
    </ng-template>
</div>
