@import '../../variables';

.adverts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: $pageTopPadding 0;
    margin-top: 10px;

    @media screen and (max-width: $breakpoint--header) {
        padding: $pageTopPadding--big 0 40px;
    }
}
