<div class="header">
  <div class="header__actions">
    <a routerLink="/tophits"><img class="header__logo" src="assets/img/gw-logo.png"/></a>
    <div class="header__filter">
      <app-product-search></app-product-search>
      <app-advert-filter></app-advert-filter>
    </div>
  </div>

  <div class="header__divider"></div>
</div>

<router-outlet></router-outlet>
