@import './variables';

.header {
    $logoSize: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: $headerSize;
    z-index: 10;
    background-color: $app--accent;

    &__actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;

        @media screen and (max-width: $breakpoint--header) {
            flex-flow: row wrap;
            justify-content: center;
        }
    }

    &__logo {
        height: $logoSize;
    }

    &__filter {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    &__divider {
        height: calc(#{$headerSize} - #{$logoSize});
        width: auto;
        background-position: 60% 40%;
        background-image: url("/assets/img/gw-background.jpg");
        background-size: cover;
    }
}

