// Store application wide size variables here
$headerSize: 100px;
$pageTopPadding: calc(#{$headerSize} + 30px);
$pageTopPadding--big: calc(#{$headerSize} + 70px);

// Breakpoints
$breakpoint--header: 760px;

// Colors
$app--primary: #1976d2;
$app--accent: #462546;

$text--primary: #231f20;
$text--disabled: #9e9e9e;

$blueGray--light: #eceff1;

$gray--light: #dadada;
