<div class="search">
  <input
    #searchBox
    class="search__input"
    placeholder="Shipping from"
    (click)="onFocusChange(true)"
    (focusout)="onFocusChange(false)"
    (keydown.escape)="searchBox.blur()"
  />

  <ul class="search__resultList" *ngIf="searchFocused">
    <li class="search__result" *ngFor="let shippingLocation of shippingLocations"
        (click)="refreshAdverts(shippingLocation.id)">
      {{shippingLocation.name}}
    </li>
  </ul>

</div>
