@import '../../variables.scss';

@media screen and (max-width: $breakpoint--header) {
    :host {
        width: 35%;
    }
}

.search {
    $inputWidth: 150px;

    position: relative;
    width: $inputWidth;
    z-index: 5;

    @media screen and (max-width: $breakpoint--header) {
        width: 100%;
        margin-top: 10px;
    }

    &__input {
        display: inline-block;
        width: 100%;
        height: 40px;
        padding: 10px 15px;
        border: 1px solid $blueGray--light;
        color: rgba(0, 142, 198, 1);
        text-overflow: clip;
        background: rgba(252, 252, 252, 1);
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        outline: none;
    }

    &__resultList {
        position: absolute;
        top: 40px;
        width: 100%;
        min-height: 0;
        max-height: 235px;
        overflow-y: auto;
        background-color: white;
        border-radius: 0 0 8px 8px;
        border: 1px solid $blueGray--light;
        margin: 0;
        padding: 10px 0;
        z-index: 1;
    }

    &__result {
        width: 100%;
        min-height: 25px;
        padding: 5px 15px;
        background-color: white;
        list-style-type: none;
        cursor: pointer;
        transition: background-color .2s ease;
        font-size: 16px;
        line-height: 25px;

        &:not(:first-child) {
            border-top: 1px solid $blueGray--light;
        }

        &:hover {
            background-color: $gray--light;
        }
    }

    &__emptyState {
        padding: 0 15px;
        color: $text--disabled;
    }
}
