<div class="search">
    <input
        #searchBox
        class="search__input"
        (input)="onSearch(searchBox.value)"
        placeholder="What are you aimin' for?"
        (focus)="onFocusChange(true)"
        (focusout)="onFocusChange(false)"
        (keydown.escape)="searchBox.blur()"
    />

    <ul class="search__resultList" *ngIf="products && products.length > 0 && searchFocused">
        <li class="search__result" *ngFor="let product of products" (click)="openProduct(product)">
            {{product.brand}} {{product.code}} {{product.name}}
        </li>
    </ul>

    <ul class="search__resultList" *ngIf="products && products.length === 0 && searchFocused">
        <li class="search__emptyState">No results found.</li>
    </ul>
</div>
