<div class="advert" [ngClass]="{'embedded': embedded}" (click)="openAdvert()">
  <div class="advert__nameContainer" *ngIf="!embedded">
    <span class="advert__brand">{{advert.productBrand}} {{advert.productCode}}</span>
    <span class="advert__productName">{{advert.productName}}</span>
  </div>

  <img class="advert__photo" src="{{photoUrl}}" onerror="this.src='assets/img/fallback-image.jpg'"/>

  <div class="advert__priceContainer">
        <span class="advert__bestPrice">
            <span class="advert__priceValue value">
                {{ advert.price | number:'1.0-0':'hu' }}

              <span class="advert__currency">HUF</span>
            </span>
        </span>
        <span class="advert__source">
            {{advert.source}}
        </span>
  </div>
</div>
