/* You can add global styles to this file, and also import other style files */

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Barlow', Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
    color: #231f20;
}

* {
    box-sizing: border-box;
}

a,
a:visited {
    color: #1976D2;
    text-decoration: none;
}

input {
    font-family: 'Barlow', Helvetica, sans-serif;
    font-size: 16px;
}
